# Gradle
.gradle/
!build/libs/
!gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Local env
.env.local
*.local

# Reports
report/
*/report/

# K8s local
k8s/

