# helm install monitoring prometheus-community/kube-prometheus-stack -f values.yaml -n monitoring --create-namespace

grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin

  service:
    type: NodePort
    nodePort: 30300

  defaultDashboardsEnabled: true
  defaultDashboardsTimezone: utc

prometheus:
  enabled: true

  service:
    type: NodePort
    nodePort: 30090

  prometheusSpec:
    resources:
      requests:
        cpu: "100m"
        memory: "256Mi"
      limits:
        cpu: "500m"
        memory: "512Mi"
    retention: 7d

    additionalScrapeConfigs:
      - job_name: 'auth-service'
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'auth-service.f1-app.svc.cluster.local:8080' ]
            labels:
              application: 'auth-service'

      - job_name: 'race-service'
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'race-service.f1-app.svc.cluster.local:8081' ]
            labels:
              application: 'race-service'

      - job_name: 'telemetry-service'
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'telemetry-service.f1-app.svc.cluster.local:8082' ]
            labels:
              application: 'telemetry-service'

      - job_name: 'postgres-auth-db'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'auth-db-postgresql-metrics.f1-app.svc.cluster.local:9187' ]
            labels:
              database: 'auth_db'

      - job_name: 'postgres-race-db'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'race-db-postgresql-metrics.f1-app.svc.cluster.local:9187' ]
            labels:
              database: 'race_db'

      - job_name: 'postgres-telemetry-db'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'telemetry-db-postgresql-metrics.f1-app.svc.cluster.local:9187' ]
            labels:
              database: 'telemetry_db'

      - job_name: 'redis'
        scrape_interval: 15s
        static_configs:
          - targets: [ 'redis-metrics.f1-app.svc.cluster.local:9121' ]
            labels:
              application: 'redis'

alertmanager:
  enabled: false

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true
