# Install: helm install kafka bitnami/kafka -f values.yaml -n f1-app

# KRaft mode - без Zookeeper
kraft:
  enabled: true

controller:
  replicaCount: 1

broker:
  replicaCount: 0  # В KRaft режиме controller выполняет роль брокера

persistence:
  enabled: true
  size: 1Gi

resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

listeners:
  client:
    protocol: PLAINTEXT
  controller:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT

extraConfig: |
  auto.create.topics.enable=true
  offsets.topic.replication.factor=1
  transaction.state.log.replication.factor=1
  transaction.state.log.min.isr=1

metrics:
  kafka:
    enabled: true
  jmx:
    enabled: true

service:
  type: ClusterIP
  ports:
    client: 9092
